<h3>Enquiries</h3>
<div class="alert alert-dark" role="alert">
    Select Service Type:
    <select [(ngModel)]="selected">
       <option *ngFor="let service of serviceTypes" [value]="service">
        {{ service }}</option>
    </select>
</div>
<h2 class="text-center">Enquiries</h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-12" *ngFor="let enquiry of enquiries | filterservice:selected">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ enquiry.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ enquiry.email }}</h6>
                    <p class="card-text">
                        <strong>Service Type:</strong> {{ enquiry.serviceType }}
                    </p>
                    <p class="card-text">
                        <strong>Message:</strong> {{ enquiry.message }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center my-4 py-3" style="color: #6c757d;">
    <h3>Enquiry Response</h3>
</div>

<app-enquiry-response></app-enquiry-response>